body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: #ccc;
	font-size: 16px;
	font-family: 'Courier New';
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0px;
	background-color: #1b0800;
	padding-top: 80px;
	padding-bottom: 21px;
	overflow: auto;
}

.rect {
	position: absolute; top: -1px; left: -16px; 
	height: 38px;
	border: 1px solid #ccc;
}

.toukoul-logo-nbp {
	width: 246px;
	flex-shrink: 0;
	align-self: center;
}

.toukoul-10-0657d {
	margin-top: 71px;
	flex-shrink: 0;
}

.row {
	margin-left: 6px; margin-top: 131px;
	width: calc(100% - 26px);
	max-width: 600px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 36px;
	align-self: center;
	font-size: 22px;
	font-family: 'League Gothic';
	font-weight: 400;
	padding: 0 11px;
}

.row-left {
	position: relative;
	margin-left: 8px; margin-top: 1px;
	width: 72px;
	min-height: 37px;
	flex-shrink: 0;
	text-align: center;
}

.subtitle-infos {
	position: absolute; top: 4px; left: -32px; right: 1px; 
}

.rect1 {
	width: 73px;
}

.btn-reservation {
	width: 111px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	padding: 4px 7px 6px 7px;
	border: 1px solid #ccc;
}

.row-right {
	position: relative;
	margin: 1px -16px 0 24px;
	width: 86px;
	min-height: 37px;
	flex-shrink: 0;
	text-align: center;
}

.subtitle-concerts {
	position: absolute; top: 4px; left: -23px; right: 6px; 
}

.rect2 {
	width: 87px;
}

.subtitle1 {
	margin: 170px 12px 0 12px;
	text-align: center;
}

.subtitle2 {
	margin: 74px 12px 0 12px;
	text-align: center;
}

.toukoul-img-galerie {
	margin-top: 103px;
	flex-shrink: 0;
}

.le-toukoul {
	margin-top: 102px;
	text-align: left;
	background: url(../assets/le-toukoul.png) center / cover no-repeat;
	padding: 106px 165px 165px 48px;
}

.toukoul-5-c81de {
	margin-top: -1px;
	flex-shrink: 0;
}

.subtitle3 {
	margin-top: 135px;
	width: 294px;
	align-self: center;
	text-align: left;
}

.decouverte-musicale {
	margin-top: 127px;
	flex-shrink: 0;
}

.subtitle4 {
	margin-top: 89px;
	width: 294px;
	align-self: center;
	text-align: left;
}

.text {
	margin: 56px 12px 0 12px;
	min-height: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

.row-bottom {
	margin-top: -3px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	align-self: center;
}

.img {
	width: 30px;
	flex-shrink: 0;
}
