body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	color: #ccc;
	font-size: 16px;
	font-family: 'Courier New';
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0px;
	background-color: #1b0800;
	padding-top: 80px;
	padding-bottom: 21px;
	overflow: auto;
}

.rect {
	position: absolute; top: -1px; left: -16px; 
	height: 38px;
	border: 1px solid #ccc;
}

.toukoul-logo-nbp {
	width: 246px;
	flex-shrink: 0;
	align-self: center;
}

.toukoul-10-0657d {
	margin-top: 71px;
	flex-shrink: 0;
}

.row {
	margin-left: 6px; margin-top: 131px;
	width: calc(100% - 26px);
	max-width: 600px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 36px;
	align-self: center;
	font-size: 22px;
	font-family: 'League Gothic';
	font-weight: 400;
	padding: 0 11px;
}

.row-left {
	position: relative;
	margin-left: 8px; margin-top: 1px;
	width: 72px;
	min-height: 37px;
	flex-shrink: 0;
	text-align: center;
}

.subtitle-infos {
	position: absolute; top: 4px; left: -32px; right: 1px; 
}

.rect1 {
	width: 73px;
}

.btn-reservation {
	width: 111px;
	display: flex;
	justify-content: center;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	padding: 4px 7px 6px 7px;
	border: 1px solid #ccc;
}

.row-right {
	position: relative;
	margin: 1px -16px 0 24px;
	width: 86px;
	min-height: 37px;
	flex-shrink: 0;
	text-align: center;
}

.subtitle-concerts {
	position: absolute; top: 4px; left: -23px; right: 6px; 
}

.rect2 {
	width: 87px;
}

.subtitle1 {
	margin: 170px 12px 0 12px;
	text-align: center;
}

.subtitle2 {
	margin: 74px 12px 0 12px;
	text-align: center;
}

.toukoul-img-galerie {
	margin-top: 103px;
	flex-shrink: 0;
}

.le-toukoul {
	margin-top: 102px;
	text-align: left;
	background: url(../assets/le-toukoul.png) center / cover no-repeat;
	padding: 106px 175px 175px 48px;
}

.toukoul-5-c81de {
	margin-top: -1px;
	flex-shrink: 0;
}

.subtitle3 {
	margin-top: 135px;
	width: 294px;
	align-self: center;
	text-align: left;
	padding-bottom: 50px;
}

.decouverte-musicale {
	margin-top: 127px;
	flex-shrink: 0;
}

.subtitle4 {
	margin-top: 89px;
	width: 294px;
	align-self: center;
	text-align: left;
	padding-bottom: 50px;
}

.text {
	margin: 56px 12px 0 12px;
	min-height: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}

.row-bottom {
	margin-top: -3px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	align-self: center;
}

.img {
	width: 30px;
	flex-shrink: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 42vh;
  width: 100vw;
  margin-top: 131px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.content {
	display: none;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.buttons {
	display: none;
}

@media (max-width: 700px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Background Images */
.slide:first-child {
  background: url("../assets/toukoul_1-5112f5bc96.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(2) {
  background: url("../assets/toukoul_2-6350a91d82.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(3) {
  background: url("../assets/toukoul_3-f4bc99f8d1.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(4) {
  background: url("../assets/toukoul_4-82e2d5dcea.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(5) {
  background: url("../assets/toukoul_5-c81de15868.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(6) {
  background: url("../assets/toukoul_6-9c775e701b.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(7) {
  background: url("../assets/toukoul_7-6fa70c40ba.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(8) {
  background: url("../assets/toukoul_8-35ff670cc9.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(9) {
  background: url("../assets/toukoul-10-0657d.png") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(10) {
  background: url("../assets/toukoul_11-b996af9ebc.jpg") no-repeat;
  background-size: 100% auto;
}

.slide:nth-child(11) {
  background: url("../assets/toukoul_12-27ca52095f.jpg") no-repeat;
  background-size: 100% auto;
}





.slider1 {
  position: relative;
  overflow: hidden;
  height: 42vh;
  width: 100vw;
  margin-top: 131px;
}

.slide1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide1.current1 {
  opacity: 1;
}

.content1 {
	display: none;
}

.slide1 .content1 {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide1 .content1 h1 {
  margin-bottom: 10px;
}

.slide1.current1 .content1 {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

@media (max-width: 700px) {
  .slide1 .content1 {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide1.current1 .content1 {
    transform: translateY(-300px);
  }
}

/* Background Images */
.slide1:first-child {
  background: url("../assets/toukoul_image_galerie1-96159fae90.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(2) {
  background: url("../assets/toukoul_image_galerie2-04864e480e.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(3) {
  background: url("../assets/toukoul_image_galerie3-25a22b6282.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(4) {
  background: url("../assets/toukoul_image_galerie4-2d11d2eddf.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(5) {
  background: url("../assets/toukoul_image_galerie5-70f79beb88.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(6) {
  background: url("../assets/toukoul_image_galerie6-eed6d6c5db.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(7) {
  background: url("../assets/toukoul_image_galerie7-71b8c9e3bd.jpg") no-repeat;
  background-size: 100% auto;
}

.slide1:nth-child(8) {
  background: url("../assets/toukoul_image_galerie8-87ded27f0e.jpg") no-repeat;
  background-size: 100% auto;
}